<section
  id="shop"
  class="mx-auto py-5 px-5 space-y-5 text-center w-full max-w-6xl md:text-start"
>
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <h2 class="text-4xl lg:text-5xl text-primary font-semibold tracking-tight">
      Taste the flavor sensation
    </h2>
    <div class="flex items-center">
      <img
        src="/flower.png"
        alt="flower sticker"
        class="w-10 h-10 lg:w-16 lg:h-16"
      />
      <p class="text-text text-lg lg:text-xl lg:w-64">
        From June to August, this is what we drink.
      </p>
    </div>
  </div>
  <section class="w-64 mx-auto md:w-auto lg:w-full grid md:grid-cols-3 gap-10">
    <div class="text-center md:h-80">
      <div class="bg-soda-blue py-3 md:h-full">
        <img
          src="/blue-soda.png"
          alt="Bebida 1"
          class="mx-auto w-32 md:w-44 md:h-64"
        />
        <h3 class="mx-auto bg-white text-xl font-semibold p-2 w-fit md:px-3">
          Energy Fusion
        </h3>
      </div>
    </div>
    <div class="text-center md:h-80">
      <div class="bg-soda-yellow py-3 md:h-full">
        <img
          src="/yellow-soda.png"
          alt="Bebida 2"
          class="mx-auto w-32 h-52 md:w-44 md:h-64"
        />
        <h3 class="mx-auto text-xl font-semibold bg-white p-2 w-fit md:px-6">
          Berry Blast
        </h3>
      </div>
    </div>
    <div class="text-center md:h-80">
      <div class="bg-soda-pink py-3 md:h-full">
        <img
          src="/pink-soda.png"
          alt="Bebida 3"
          class="mx-auto w-32 h-52 md:w-44 md:h-64"
        />
        <h3 class="mx-auto bg-white text-xl font-semibold w-fit p-2 md:px-3">
          Tropical Spark
        </h3>
      </div>
    </div>
  </section>
</section>
