---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} | Mi Landing` : "Mi Landing"}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <slot />
  </body>
</html>
